.title {
    font-family: Gelasio, 'Times New Roman', Times, serif;
}

h1.title {
    font-size: 65px;
    font-weight: 700;
    line-height: 78px;
}

h2.title {
    font-size: 43px;
    font-weight: 500;
    line-height: 60px;
}

h3.title {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

h4.title {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}