.article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    row-gap: 30px;
    column-gap: 32px;
}

.article__item--layout-vertical {
    grid-row: 1 / span 3;
}