.articleCard img {
    display: block;
    max-width: 100%;
}

.articleCard {
    display: flex;
    align-items: center;
}

.articleCard__title + .articleCard__text,
.articleCard__text + .article__link {
    padding-top: 10px;
}

.articleCard--layout-vertical img{
    display: block;
    width: 100%;
}


.articleCard--layout-vertical {
    flex-direction: column;

}

.articleCard--layout-vertical img + .articleCard__info {
    padding-top: 30px;
    padding-left: 0;
}

.articleCard__info {
    padding-left: 27px;
}

@media (max-width: 1050px) {
    
    .articleCard img +.articleCard__info {
        padding-top: 15px;
    }

    .articleCard__title + .articleCard__text,
    .articleCard__text + .article__link {
        padding-top: 5px;
    }

}

@media (max-width: 960px) {
    .articleCard {
        flex-direction: column;
        padding: 0;
        align-items: flex-start;
    }

    .articleCard__info {
        padding-left: 0;
    }
    .articleCard__text {
        font-size: 16px;
    }
        
}

@media (max-width: 700px) {
    .articleCard__text {
        font-size: 14px;
    }
}


@media (max-width: 636px) {
    .articleCard img {
        width: 100%;
    }

    .articleCard {
        box-sizing: border-box;
        padding: 24px 0;
    }
}