.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0,0,0,0.3)), url('/assets/images/bg.png') no-repeat;
    background-size: cover;
    color: #fff;
    min-height: 100vh;
}

.hero__content {
    padding-top: 150px;
    padding-bottom: 40px;
}

.hero__button {
    margin-top: 40px;
}