.popular {
    text-align: center;
}

.popular__cards {
    display: flex;
    flex-wrap: wrap;
}

.popular__card {
    width: calc(33% + 1% / 3 - 20px);
}

.popular__card:not(:nth-child(3n)) {
    margin-right: 30px;
}

.popular__card:nth-child(n + 4) {
    margin-top: 30px;
}