.special__cards {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.special__scroll{
    display: flex;
    align-items: center;
    justify-content: center;
}

.special__scroll img:first-child {
    margin-right: 20px;
}


.special__scroll img:nth-child(3n) {
    margin: 0 5px;
}

.special__scroll img:last-child {
    margin-left: 20px;
}
